* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #06283d;
  margin: 1rem;
}

.container {
  max-width: 100%;
  position: relative;
  background-color: #eee;
  padding: 1rem;
  width: 30rem;
}

.search-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-box input {
  font-size: 1.6rem;
  text-align: center;
}

.search-box input,
.search-box button {
  padding: 0.5rem;
}

.search-box button {
  font-size: 1.6rem;
  font-weight: bold;
  display: block;
  width: 100%;
  background-color: #06283d;
  color: #fff;
  margin-bottom: 1rem;
  transition: background 0.2s ease-in-out;
}

.search-box button:hover {
  background-color: #0b4569;
  cursor: pointer;
}

.not-found {
  opacity: 0;
}
